<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd6f9b">  <td>20/12/29 13:08:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.testCase1()[pri:0, instance:ApiTesting.TestNG@434a63ab]">testCase1</td> 
  <td>main@288958772</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>20/12/29 13:08:03</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.testCase2()[pri:0, instance:ApiTesting.TestNG@434a63ab]">testCase2</td> 
  <td>main@288958772</td>   <td></td> </tr>
<tr bgcolor="bd6f9b">  <td>20/12/29 13:08:03</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.testCase3()[pri:0, instance:ApiTesting.TestNG@434a63ab]">testCase3</td> 
  <td>main@288958772</td>   <td></td> </tr>
</table>
